#игнорим штуки вещей
ignorimz
#закрываем логи
*.log
#игнорим классы
*.class
#эксперементальный игнор
*ps
#бинарные файлы из проекта 
target/




#скрываем настройки идеи 
.idea









































































































